/**
 * (C) Copyright IBM Corp. 2025.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * IBM OpenAPI SDK Code Generator Version: 3.99.0-d27cee72-20250129-204831
 */

// Package transitgatewayapisv1 : Operations and models for the TransitGatewayApisV1 service
package transitgatewayapisv1

import (
	"context"
	"encoding/json"
	"fmt"
	"net/http"
	"reflect"
	"time"

	"github.com/IBM/go-sdk-core/v5/core"
	"github.com/go-openapi/strfmt"
	common "github.ibm.com/ibmcloud/networking-go-sdk/common"
)

// TransitGatewayApisV1 : No description provided (generated by Openapi Generator
// https://github.com/openapitools/openapi-generator)
//
// API Version: __VERSION__
type TransitGatewayApisV1 struct {
	Service *core.BaseService

	// Requests the version of the API as of a date in the format `YYYY-MM-DD`. Any date up to the current date may be
	// provided. Specify the current date to request the latest version.
	Version *string
}

// DefaultServiceURL is the default URL to make service requests to.
const DefaultServiceURL = "https://transit.cloud.ibm.com/v1"

// DefaultServiceName is the default key used to find external configuration information.
const DefaultServiceName = "transit_gateway_apis"

// TransitGatewayApisV1Options : Service options
type TransitGatewayApisV1Options struct {
	ServiceName   string
	URL           string
	Authenticator core.Authenticator

	// Requests the version of the API as of a date in the format `YYYY-MM-DD`. Any date up to the current date may be
	// provided. Specify the current date to request the latest version.
	Version *string `validate:"required"`
}

// NewTransitGatewayApisV1UsingExternalConfig : constructs an instance of TransitGatewayApisV1 with passed in options and external configuration.
func NewTransitGatewayApisV1UsingExternalConfig(options *TransitGatewayApisV1Options) (transitGatewayApis *TransitGatewayApisV1, err error) {
	if options.ServiceName == "" {
		options.ServiceName = DefaultServiceName
	}

	if options.Authenticator == nil {
		options.Authenticator, err = core.GetAuthenticatorFromEnvironment(options.ServiceName)
		if err != nil {
			err = core.SDKErrorf(err, "", "env-auth-error", common.GetComponentInfo())
			return
		}
	}

	transitGatewayApis, err = NewTransitGatewayApisV1(options)
	err = core.RepurposeSDKProblem(err, "new-client-error")
	if err != nil {
		return
	}

	err = transitGatewayApis.Service.ConfigureService(options.ServiceName)
	if err != nil {
		err = core.SDKErrorf(err, "", "client-config-error", common.GetComponentInfo())
		return
	}

	if options.URL != "" {
		err = transitGatewayApis.Service.SetServiceURL(options.URL)
		err = core.RepurposeSDKProblem(err, "url-set-error")
	}
	return
}

// NewTransitGatewayApisV1 : constructs an instance of TransitGatewayApisV1 with passed in options.
func NewTransitGatewayApisV1(options *TransitGatewayApisV1Options) (service *TransitGatewayApisV1, err error) {
	serviceOptions := &core.ServiceOptions{
		URL:           DefaultServiceURL,
		Authenticator: options.Authenticator,
	}

	err = core.ValidateStruct(options, "options")
	if err != nil {
		err = core.SDKErrorf(err, "", "invalid-global-options", common.GetComponentInfo())
		return
	}

	baseService, err := core.NewBaseService(serviceOptions)
	if err != nil {
		err = core.SDKErrorf(err, "", "new-base-error", common.GetComponentInfo())
		return
	}

	if options.URL != "" {
		err = baseService.SetServiceURL(options.URL)
		if err != nil {
			err = core.SDKErrorf(err, "", "set-url-error", common.GetComponentInfo())
			return
		}
	}

	service = &TransitGatewayApisV1{
		Service: baseService,
		Version: options.Version,
	}

	return
}

// GetServiceURLForRegion returns the service URL to be used for the specified region
func GetServiceURLForRegion(region string) (string, error) {
	return "", core.SDKErrorf(nil, "service does not support regional URLs", "no-regional-support", common.GetComponentInfo())
}

// Clone makes a copy of "transitGatewayApis" suitable for processing requests.
func (transitGatewayApis *TransitGatewayApisV1) Clone() *TransitGatewayApisV1 {
	if core.IsNil(transitGatewayApis) {
		return nil
	}
	clone := *transitGatewayApis
	clone.Service = transitGatewayApis.Service.Clone()
	return &clone
}

// SetServiceURL sets the service URL
func (transitGatewayApis *TransitGatewayApisV1) SetServiceURL(url string) error {
	err := transitGatewayApis.Service.SetServiceURL(url)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-set-error", common.GetComponentInfo())
	}
	return err
}

// GetServiceURL returns the service URL
func (transitGatewayApis *TransitGatewayApisV1) GetServiceURL() string {
	return transitGatewayApis.Service.GetServiceURL()
}

// SetDefaultHeaders sets HTTP headers to be sent in every request
func (transitGatewayApis *TransitGatewayApisV1) SetDefaultHeaders(headers http.Header) {
	transitGatewayApis.Service.SetDefaultHeaders(headers)
}

// SetEnableGzipCompression sets the service's EnableGzipCompression field
func (transitGatewayApis *TransitGatewayApisV1) SetEnableGzipCompression(enableGzip bool) {
	transitGatewayApis.Service.SetEnableGzipCompression(enableGzip)
}

// GetEnableGzipCompression returns the service's EnableGzipCompression field
func (transitGatewayApis *TransitGatewayApisV1) GetEnableGzipCompression() bool {
	return transitGatewayApis.Service.GetEnableGzipCompression()
}

// EnableRetries enables automatic retries for requests invoked for this service instance.
// If either parameter is specified as 0, then a default value is used instead.
func (transitGatewayApis *TransitGatewayApisV1) EnableRetries(maxRetries int, maxRetryInterval time.Duration) {
	transitGatewayApis.Service.EnableRetries(maxRetries, maxRetryInterval)
}

// DisableRetries disables automatic retries for requests invoked for this service instance.
func (transitGatewayApis *TransitGatewayApisV1) DisableRetries() {
	transitGatewayApis.Service.DisableRetries()
}

// ListCustomerAccountsOps : Retrieve filtered list of customer accounts
// Get a filtered list of customer accounts with their linked softlayer accounts that own resources that match the
// specified parameters.
func (transitGatewayApis *TransitGatewayApisV1) ListCustomerAccountsOps(listCustomerAccountsOpsOptions *ListCustomerAccountsOpsOptions) (result *TSAccountsOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListCustomerAccountsOpsWithContext(context.Background(), listCustomerAccountsOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListCustomerAccountsOpsWithContext is an alternate form of the ListCustomerAccountsOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListCustomerAccountsOpsWithContext(ctx context.Context, listCustomerAccountsOpsOptions *ListCustomerAccountsOpsOptions) (result *TSAccountsOps, response *core.DetailedResponse, err error) {
	err = core.ValidateStruct(listCustomerAccountsOpsOptions, "listCustomerAccountsOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/customer_accounts`, nil)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listCustomerAccountsOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListCustomerAccountsOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))
	if listCustomerAccountsOpsOptions.Start != nil {
		builder.AddQuery("start", fmt.Sprint(*listCustomerAccountsOpsOptions.Start))
	}
	if listCustomerAccountsOpsOptions.Limit != nil {
		builder.AddQuery("limit", fmt.Sprint(*listCustomerAccountsOpsOptions.Limit))
	}
	if listCustomerAccountsOpsOptions.LocationName != nil {
		builder.AddQuery("location_name", fmt.Sprint(*listCustomerAccountsOpsOptions.LocationName))
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_customer_accounts_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSAccountsOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// GetCustomerAccountsOps : Retrieve details on a customer account
// Get the linked softlayer account for a customer's bx account.
func (transitGatewayApis *TransitGatewayApisV1) GetCustomerAccountsOps(getCustomerAccountsOpsOptions *GetCustomerAccountsOpsOptions) (result *TSAccountOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.GetCustomerAccountsOpsWithContext(context.Background(), getCustomerAccountsOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// GetCustomerAccountsOpsWithContext is an alternate form of the GetCustomerAccountsOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) GetCustomerAccountsOpsWithContext(ctx context.Context, getCustomerAccountsOpsOptions *GetCustomerAccountsOpsOptions) (result *TSAccountOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(getCustomerAccountsOpsOptions, "getCustomerAccountsOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(getCustomerAccountsOpsOptions, "getCustomerAccountsOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"customer_account_id": *getCustomerAccountsOpsOptions.CustomerAccountID,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/customer_accounts/{customer_account_id}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range getCustomerAccountsOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "GetCustomerAccountsOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "get_customer_accounts_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSAccountOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// CreateTransitAccountActionsOps : Audits and synchronizes the Resource Controller entries of the specific customer account
// Audit the Resource Controller entries of the Transit Gateways in specific customer account. Also provides option to
// synchronize Resource Controller entry of the specific Transit Gateway.
func (transitGatewayApis *TransitGatewayApisV1) CreateTransitAccountActionsOps(createTransitAccountActionsOpsOptions *CreateTransitAccountActionsOpsOptions) (result *TSAccountActionResponseOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.CreateTransitAccountActionsOpsWithContext(context.Background(), createTransitAccountActionsOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// CreateTransitAccountActionsOpsWithContext is an alternate form of the CreateTransitAccountActionsOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) CreateTransitAccountActionsOpsWithContext(ctx context.Context, createTransitAccountActionsOpsOptions *CreateTransitAccountActionsOpsOptions) (result *TSAccountActionResponseOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(createTransitAccountActionsOpsOptions, "createTransitAccountActionsOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(createTransitAccountActionsOpsOptions, "createTransitAccountActionsOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"customer_account_id": *createTransitAccountActionsOpsOptions.CustomerAccountID,
	}

	builder := core.NewRequestBuilder(core.POST)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/customer_accounts/{customer_account_id}/actions`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range createTransitAccountActionsOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "CreateTransitAccountActionsOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if createTransitAccountActionsOpsOptions.Action != nil {
		body["action"] = createTransitAccountActionsOpsOptions.Action
	}
	if createTransitAccountActionsOpsOptions.EntryCrn != nil {
		body["entry_crn"] = createTransitAccountActionsOpsOptions.EntryCrn
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "create_transit_account_actions_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSAccountActionResponseOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListCustomerAccountsFeatures : Retrieve allowlisted accounts for feature
// Get allowlisted accounts for feature.
func (transitGatewayApis *TransitGatewayApisV1) ListCustomerAccountsFeatures(listCustomerAccountsFeaturesOptions *ListCustomerAccountsFeaturesOptions) (result *FeatureCollection, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListCustomerAccountsFeaturesWithContext(context.Background(), listCustomerAccountsFeaturesOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListCustomerAccountsFeaturesWithContext is an alternate form of the ListCustomerAccountsFeatures method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListCustomerAccountsFeaturesWithContext(ctx context.Context, listCustomerAccountsFeaturesOptions *ListCustomerAccountsFeaturesOptions) (result *FeatureCollection, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(listCustomerAccountsFeaturesOptions, "listCustomerAccountsFeaturesOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(listCustomerAccountsFeaturesOptions, "listCustomerAccountsFeaturesOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"customer_account_id": *listCustomerAccountsFeaturesOptions.CustomerAccountID,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/customer_accounts/{customer_account_id}/features`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listCustomerAccountsFeaturesOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListCustomerAccountsFeatures")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_customer_accounts_features", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalFeatureCollection)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListGatewayLocations : Lists all locations that support Transit Gateways
// List all locations that support Transit Gateways.
func (transitGatewayApis *TransitGatewayApisV1) ListGatewayLocations(listGatewayLocationsOptions *ListGatewayLocationsOptions) (result *TSCollection, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListGatewayLocationsWithContext(context.Background(), listGatewayLocationsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListGatewayLocationsWithContext is an alternate form of the ListGatewayLocations method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListGatewayLocationsWithContext(ctx context.Context, listGatewayLocationsOptions *ListGatewayLocationsOptions) (result *TSCollection, response *core.DetailedResponse, err error) {
	err = core.ValidateStruct(listGatewayLocationsOptions, "listGatewayLocationsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/locations`, nil)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listGatewayLocationsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListGatewayLocations")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_gateway_locations", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSCollection)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// GetGatewayLocation : Shows the details of a given Transit Gateway location
// Get the details of a Transit Gateway Location.
func (transitGatewayApis *TransitGatewayApisV1) GetGatewayLocation(getGatewayLocationOptions *GetGatewayLocationOptions) (result *TSLocation, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.GetGatewayLocationWithContext(context.Background(), getGatewayLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// GetGatewayLocationWithContext is an alternate form of the GetGatewayLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) GetGatewayLocationWithContext(ctx context.Context, getGatewayLocationOptions *GetGatewayLocationOptions) (result *TSLocation, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(getGatewayLocationOptions, "getGatewayLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(getGatewayLocationOptions, "getGatewayLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"name": *getGatewayLocationOptions.Name,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/locations/{name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range getGatewayLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "GetGatewayLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "get_gateway_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocation)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListGatewayLocationsOps : List all hidden and non-hidden locations that support Transit Gateways
// List all hidden and non-hidden locations that support Transit Gateways.
func (transitGatewayApis *TransitGatewayApisV1) ListGatewayLocationsOps(listGatewayLocationsOpsOptions *ListGatewayLocationsOpsOptions) (result *TSLocationCollectionOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListGatewayLocationsOpsWithContext(context.Background(), listGatewayLocationsOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListGatewayLocationsOpsWithContext is an alternate form of the ListGatewayLocationsOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListGatewayLocationsOpsWithContext(ctx context.Context, listGatewayLocationsOpsOptions *ListGatewayLocationsOpsOptions) (result *TSLocationCollectionOps, response *core.DetailedResponse, err error) {
	err = core.ValidateStruct(listGatewayLocationsOpsOptions, "listGatewayLocationsOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations`, nil)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listGatewayLocationsOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListGatewayLocationsOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_gateway_locations_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocationCollectionOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// CreateGatewayLocation : Create a new Transit Gateway location
// Create a new location for Transit Gateways.
func (transitGatewayApis *TransitGatewayApisV1) CreateGatewayLocation(createGatewayLocationOptions *CreateGatewayLocationOptions) (result *TSLocationOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.CreateGatewayLocationWithContext(context.Background(), createGatewayLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// CreateGatewayLocationWithContext is an alternate form of the CreateGatewayLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) CreateGatewayLocationWithContext(ctx context.Context, createGatewayLocationOptions *CreateGatewayLocationOptions) (result *TSLocationOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(createGatewayLocationOptions, "createGatewayLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(createGatewayLocationOptions, "createGatewayLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	builder := core.NewRequestBuilder(core.POST)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations`, nil)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range createGatewayLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "CreateGatewayLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if createGatewayLocationOptions.BillingLocation != nil {
		body["billing_location"] = createGatewayLocationOptions.BillingLocation
	}
	if createGatewayLocationOptions.Name != nil {
		body["name"] = createGatewayLocationOptions.Name
	}
	if createGatewayLocationOptions.Type != nil {
		body["type"] = createGatewayLocationOptions.Type
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "create_gateway_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocationOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// DeleteGatewayLocation : Deletes specified Transit Gateway location
// Delete a given Transit Gateway Location.
func (transitGatewayApis *TransitGatewayApisV1) DeleteGatewayLocation(deleteGatewayLocationOptions *DeleteGatewayLocationOptions) (response *core.DetailedResponse, err error) {
	response, err = transitGatewayApis.DeleteGatewayLocationWithContext(context.Background(), deleteGatewayLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// DeleteGatewayLocationWithContext is an alternate form of the DeleteGatewayLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) DeleteGatewayLocationWithContext(ctx context.Context, deleteGatewayLocationOptions *DeleteGatewayLocationOptions) (response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(deleteGatewayLocationOptions, "deleteGatewayLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(deleteGatewayLocationOptions, "deleteGatewayLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *deleteGatewayLocationOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.DELETE)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range deleteGatewayLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "DeleteGatewayLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	response, err = transitGatewayApis.Service.Request(request, nil)
	if err != nil {
		core.EnrichHTTPProblem(err, "delete_gateway_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}

	return
}

// GetGatewayLocationOps : Shows the details of a given Transit Gateway location
// Get the details of a Transit Gateway Location.
func (transitGatewayApis *TransitGatewayApisV1) GetGatewayLocationOps(getGatewayLocationOpsOptions *GetGatewayLocationOpsOptions) (result *TSLocationWithZoneOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.GetGatewayLocationOpsWithContext(context.Background(), getGatewayLocationOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// GetGatewayLocationOpsWithContext is an alternate form of the GetGatewayLocationOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) GetGatewayLocationOpsWithContext(ctx context.Context, getGatewayLocationOpsOptions *GetGatewayLocationOpsOptions) (result *TSLocationWithZoneOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(getGatewayLocationOpsOptions, "getGatewayLocationOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(getGatewayLocationOpsOptions, "getGatewayLocationOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *getGatewayLocationOpsOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range getGatewayLocationOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "GetGatewayLocationOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "get_gateway_location_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocationWithZoneOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// UpdateGatewayLocation : Update the details of a Transit Gateway location
// Update the details of a given location object.
func (transitGatewayApis *TransitGatewayApisV1) UpdateGatewayLocation(updateGatewayLocationOptions *UpdateGatewayLocationOptions) (result *TSLocationOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.UpdateGatewayLocationWithContext(context.Background(), updateGatewayLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// UpdateGatewayLocationWithContext is an alternate form of the UpdateGatewayLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) UpdateGatewayLocationWithContext(ctx context.Context, updateGatewayLocationOptions *UpdateGatewayLocationOptions) (result *TSLocationOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(updateGatewayLocationOptions, "updateGatewayLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(updateGatewayLocationOptions, "updateGatewayLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *updateGatewayLocationOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.PATCH)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range updateGatewayLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "UpdateGatewayLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if updateGatewayLocationOptions.BillingLocation != nil {
		body["billing_location"] = updateGatewayLocationOptions.BillingLocation
	}
	if updateGatewayLocationOptions.Hidden != nil {
		body["hidden"] = updateGatewayLocationOptions.Hidden
	}
	if updateGatewayLocationOptions.Name != nil {
		body["name"] = updateGatewayLocationOptions.Name
	}
	if updateGatewayLocationOptions.Type != nil {
		body["type"] = updateGatewayLocationOptions.Type
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "update_gateway_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocationOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListDataCentersOps : List data centers in location
// List all data centers inside location.
func (transitGatewayApis *TransitGatewayApisV1) ListDataCentersOps(listDataCentersOpsOptions *ListDataCentersOpsOptions) (result *TSDataCenterCollectionOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListDataCentersOpsWithContext(context.Background(), listDataCentersOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListDataCentersOpsWithContext is an alternate form of the ListDataCentersOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListDataCentersOpsWithContext(ctx context.Context, listDataCentersOpsOptions *ListDataCentersOpsOptions) (result *TSDataCenterCollectionOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(listDataCentersOpsOptions, "listDataCentersOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(listDataCentersOpsOptions, "listDataCentersOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *listDataCentersOpsOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/data_centers`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listDataCentersOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListDataCentersOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_data_centers_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSDataCenterCollectionOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// CreateDataCenterOps : Create data center
// Create data center.
func (transitGatewayApis *TransitGatewayApisV1) CreateDataCenterOps(createDataCenterOpsOptions *CreateDataCenterOpsOptions) (result *TSDataCenterOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.CreateDataCenterOpsWithContext(context.Background(), createDataCenterOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// CreateDataCenterOpsWithContext is an alternate form of the CreateDataCenterOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) CreateDataCenterOpsWithContext(ctx context.Context, createDataCenterOpsOptions *CreateDataCenterOpsOptions) (result *TSDataCenterOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(createDataCenterOpsOptions, "createDataCenterOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(createDataCenterOpsOptions, "createDataCenterOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *createDataCenterOpsOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.POST)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/data_centers`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range createDataCenterOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "CreateDataCenterOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if createDataCenterOpsOptions.Hidden != nil {
		body["hidden"] = createDataCenterOpsOptions.Hidden
	}
	if createDataCenterOpsOptions.Name != nil {
		body["name"] = createDataCenterOpsOptions.Name
	}
	if createDataCenterOpsOptions.TargetDeviceQuantity != nil {
		body["target_device_quantity"] = createDataCenterOpsOptions.TargetDeviceQuantity
	}
	if createDataCenterOpsOptions.TgrBgpAsn != nil {
		body["tgr_bgp_asn"] = createDataCenterOpsOptions.TgrBgpAsn
	}
	if createDataCenterOpsOptions.ZoneName != nil {
		body["zone_name"] = createDataCenterOpsOptions.ZoneName
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "create_data_center_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSDataCenterOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// DeleteDataCenterOps : Delete data center
// Delete data center.
func (transitGatewayApis *TransitGatewayApisV1) DeleteDataCenterOps(deleteDataCenterOpsOptions *DeleteDataCenterOpsOptions) (response *core.DetailedResponse, err error) {
	response, err = transitGatewayApis.DeleteDataCenterOpsWithContext(context.Background(), deleteDataCenterOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// DeleteDataCenterOpsWithContext is an alternate form of the DeleteDataCenterOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) DeleteDataCenterOpsWithContext(ctx context.Context, deleteDataCenterOpsOptions *DeleteDataCenterOpsOptions) (response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(deleteDataCenterOpsOptions, "deleteDataCenterOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(deleteDataCenterOpsOptions, "deleteDataCenterOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *deleteDataCenterOpsOptions.LocationName,
		"data_center_name": *deleteDataCenterOpsOptions.DataCenterName,
	}

	builder := core.NewRequestBuilder(core.DELETE)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/data_centers/{data_center_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range deleteDataCenterOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "DeleteDataCenterOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	response, err = transitGatewayApis.Service.Request(request, nil)
	if err != nil {
		core.EnrichHTTPProblem(err, "delete_data_center_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}

	return
}

// UpdateDataCenterOps : Update data center
// Update data center.
func (transitGatewayApis *TransitGatewayApisV1) UpdateDataCenterOps(updateDataCenterOpsOptions *UpdateDataCenterOpsOptions) (result *TSDataCenterOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.UpdateDataCenterOpsWithContext(context.Background(), updateDataCenterOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// UpdateDataCenterOpsWithContext is an alternate form of the UpdateDataCenterOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) UpdateDataCenterOpsWithContext(ctx context.Context, updateDataCenterOpsOptions *UpdateDataCenterOpsOptions) (result *TSDataCenterOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(updateDataCenterOpsOptions, "updateDataCenterOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(updateDataCenterOpsOptions, "updateDataCenterOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *updateDataCenterOpsOptions.LocationName,
		"data_center_name": *updateDataCenterOpsOptions.DataCenterName,
	}

	builder := core.NewRequestBuilder(core.PATCH)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/data_centers/{data_center_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range updateDataCenterOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "UpdateDataCenterOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if updateDataCenterOpsOptions.Hidden != nil {
		body["hidden"] = updateDataCenterOpsOptions.Hidden
	}
	if updateDataCenterOpsOptions.TargetDeviceQuantity != nil {
		body["target_device_quantity"] = updateDataCenterOpsOptions.TargetDeviceQuantity
	}
	if updateDataCenterOpsOptions.TgrBgpAsn != nil {
		body["tgr_bgp_asn"] = updateDataCenterOpsOptions.TgrBgpAsn
	}
	if updateDataCenterOpsOptions.ZoneName != nil {
		body["zone_name"] = updateDataCenterOpsOptions.ZoneName
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "update_data_center_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSDataCenterOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListGatewayLocationDevices : Show the list of gateway devices for a given Transit Gateway location
// Get the list of gateway devices for a Transit Gateway location.
func (transitGatewayApis *TransitGatewayApisV1) ListGatewayLocationDevices(listGatewayLocationDevicesOptions *ListGatewayLocationDevicesOptions) (result *GatewayDeviceCollection, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListGatewayLocationDevicesWithContext(context.Background(), listGatewayLocationDevicesOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListGatewayLocationDevicesWithContext is an alternate form of the ListGatewayLocationDevices method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListGatewayLocationDevicesWithContext(ctx context.Context, listGatewayLocationDevicesOptions *ListGatewayLocationDevicesOptions) (result *GatewayDeviceCollection, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(listGatewayLocationDevicesOptions, "listGatewayLocationDevicesOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(listGatewayLocationDevicesOptions, "listGatewayLocationDevicesOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *listGatewayLocationDevicesOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/gateway_devices`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listGatewayLocationDevicesOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListGatewayLocationDevices")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_gateway_location_devices", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalGatewayDeviceCollection)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListLocationLocalConnectionLocationsOps : List local connection locations
// List all locations that would be considered as local connections for the given transit location.
func (transitGatewayApis *TransitGatewayApisV1) ListLocationLocalConnectionLocationsOps(listLocationLocalConnectionLocationsOpsOptions *ListLocationLocalConnectionLocationsOpsOptions) (result *TSLocalLocationsCollectionOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListLocationLocalConnectionLocationsOpsWithContext(context.Background(), listLocationLocalConnectionLocationsOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListLocationLocalConnectionLocationsOpsWithContext is an alternate form of the ListLocationLocalConnectionLocationsOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListLocationLocalConnectionLocationsOpsWithContext(ctx context.Context, listLocationLocalConnectionLocationsOpsOptions *ListLocationLocalConnectionLocationsOpsOptions) (result *TSLocalLocationsCollectionOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(listLocationLocalConnectionLocationsOpsOptions, "listLocationLocalConnectionLocationsOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(listLocationLocalConnectionLocationsOpsOptions, "listLocationLocalConnectionLocationsOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *listLocationLocalConnectionLocationsOpsOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/local_connection_locations`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listLocationLocalConnectionLocationsOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListLocationLocalConnectionLocationsOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_location_local_connection_locations_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocalLocationsCollectionOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// CreateGatewayLocationLocalLocation : Create a new Transit Gatway local location
// Create a new local location for Transit Gateways.
func (transitGatewayApis *TransitGatewayApisV1) CreateGatewayLocationLocalLocation(createGatewayLocationLocalLocationOptions *CreateGatewayLocationLocalLocationOptions) (result *TSLocalLocationOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.CreateGatewayLocationLocalLocationWithContext(context.Background(), createGatewayLocationLocalLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// CreateGatewayLocationLocalLocationWithContext is an alternate form of the CreateGatewayLocationLocalLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) CreateGatewayLocationLocalLocationWithContext(ctx context.Context, createGatewayLocationLocalLocationOptions *CreateGatewayLocationLocalLocationOptions) (result *TSLocalLocationOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(createGatewayLocationLocalLocationOptions, "createGatewayLocationLocalLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(createGatewayLocationLocalLocationOptions, "createGatewayLocationLocalLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *createGatewayLocationLocalLocationOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.POST)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/local_connection_locations`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range createGatewayLocationLocalLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "CreateGatewayLocationLocalLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if createGatewayLocationLocalLocationOptions.DisplayName != nil {
		body["display_name"] = createGatewayLocationLocalLocationOptions.DisplayName
	}
	if createGatewayLocationLocalLocationOptions.Name != nil {
		body["name"] = createGatewayLocationLocalLocationOptions.Name
	}
	if createGatewayLocationLocalLocationOptions.SupportedConnectionTypes != nil {
		body["supported_connection_types"] = createGatewayLocationLocalLocationOptions.SupportedConnectionTypes
	}
	if createGatewayLocationLocalLocationOptions.Type != nil {
		body["type"] = createGatewayLocationLocalLocationOptions.Type
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "create_gateway_location_local_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocalLocationOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// DeleteGatewayLocationLocalLocation : Deletes specified Transit Gateway local Location
// Delete a given Transit Gateway Local Location.
func (transitGatewayApis *TransitGatewayApisV1) DeleteGatewayLocationLocalLocation(deleteGatewayLocationLocalLocationOptions *DeleteGatewayLocationLocalLocationOptions) (response *core.DetailedResponse, err error) {
	response, err = transitGatewayApis.DeleteGatewayLocationLocalLocationWithContext(context.Background(), deleteGatewayLocationLocalLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// DeleteGatewayLocationLocalLocationWithContext is an alternate form of the DeleteGatewayLocationLocalLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) DeleteGatewayLocationLocalLocationWithContext(ctx context.Context, deleteGatewayLocationLocalLocationOptions *DeleteGatewayLocationLocalLocationOptions) (response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(deleteGatewayLocationLocalLocationOptions, "deleteGatewayLocationLocalLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(deleteGatewayLocationLocalLocationOptions, "deleteGatewayLocationLocalLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *deleteGatewayLocationLocalLocationOptions.LocationName,
		"local_location_name": *deleteGatewayLocationLocalLocationOptions.LocalLocationName,
	}

	builder := core.NewRequestBuilder(core.DELETE)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/local_connection_locations/{local_location_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range deleteGatewayLocationLocalLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "DeleteGatewayLocationLocalLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	response, err = transitGatewayApis.Service.Request(request, nil)
	if err != nil {
		core.EnrichHTTPProblem(err, "delete_gateway_location_local_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}

	return
}

// GetGatewayLocationLocalLocation : Show the details of a given Transit Gateway local location
// Get the details of a Transit Gateway local location.
func (transitGatewayApis *TransitGatewayApisV1) GetGatewayLocationLocalLocation(getGatewayLocationLocalLocationOptions *GetGatewayLocationLocalLocationOptions) (result *TSLocalLocationOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.GetGatewayLocationLocalLocationWithContext(context.Background(), getGatewayLocationLocalLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// GetGatewayLocationLocalLocationWithContext is an alternate form of the GetGatewayLocationLocalLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) GetGatewayLocationLocalLocationWithContext(ctx context.Context, getGatewayLocationLocalLocationOptions *GetGatewayLocationLocalLocationOptions) (result *TSLocalLocationOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(getGatewayLocationLocalLocationOptions, "getGatewayLocationLocalLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(getGatewayLocationLocalLocationOptions, "getGatewayLocationLocalLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *getGatewayLocationLocalLocationOptions.LocationName,
		"local_location_name": *getGatewayLocationLocalLocationOptions.LocalLocationName,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/local_connection_locations/{local_location_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range getGatewayLocationLocalLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "GetGatewayLocationLocalLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "get_gateway_location_local_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocalLocationOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// UpdateGatewayLocationLocalLocation : Update the details of a Transit Gateway local location
// Update the details of a given local location object.
func (transitGatewayApis *TransitGatewayApisV1) UpdateGatewayLocationLocalLocation(updateGatewayLocationLocalLocationOptions *UpdateGatewayLocationLocalLocationOptions) (result *TSLocalLocationOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.UpdateGatewayLocationLocalLocationWithContext(context.Background(), updateGatewayLocationLocalLocationOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// UpdateGatewayLocationLocalLocationWithContext is an alternate form of the UpdateGatewayLocationLocalLocation method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) UpdateGatewayLocationLocalLocationWithContext(ctx context.Context, updateGatewayLocationLocalLocationOptions *UpdateGatewayLocationLocalLocationOptions) (result *TSLocalLocationOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(updateGatewayLocationLocalLocationOptions, "updateGatewayLocationLocalLocationOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(updateGatewayLocationLocalLocationOptions, "updateGatewayLocationLocalLocationOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *updateGatewayLocationLocalLocationOptions.LocationName,
		"local_location_name": *updateGatewayLocationLocalLocationOptions.LocalLocationName,
	}

	builder := core.NewRequestBuilder(core.PATCH)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/local_connection_locations/{local_location_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range updateGatewayLocationLocalLocationOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "UpdateGatewayLocationLocalLocation")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if updateGatewayLocationLocalLocationOptions.DisplayName != nil {
		body["display_name"] = updateGatewayLocationLocalLocationOptions.DisplayName
	}
	if updateGatewayLocationLocalLocationOptions.Name != nil {
		body["name"] = updateGatewayLocationLocalLocationOptions.Name
	}
	if updateGatewayLocationLocalLocationOptions.SupportedConnectionTypes != nil {
		body["supported_connection_types"] = updateGatewayLocationLocalLocationOptions.SupportedConnectionTypes
	}
	if updateGatewayLocationLocalLocationOptions.Type != nil {
		body["type"] = updateGatewayLocationLocalLocationOptions.Type
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "update_gateway_location_local_location", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSLocalLocationOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// ListZonesOps : List zones in location
// List all availability zones inside location.
func (transitGatewayApis *TransitGatewayApisV1) ListZonesOps(listZonesOpsOptions *ListZonesOpsOptions) (result *TSZoneCollectionOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListZonesOpsWithContext(context.Background(), listZonesOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListZonesOpsWithContext is an alternate form of the ListZonesOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListZonesOpsWithContext(ctx context.Context, listZonesOpsOptions *ListZonesOpsOptions) (result *TSZoneCollectionOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(listZonesOpsOptions, "listZonesOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(listZonesOpsOptions, "listZonesOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *listZonesOpsOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/zones`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listZonesOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListZonesOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_zones_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSZoneCollectionOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// CreateZoneOps : Create zone
// Create availability zone.
func (transitGatewayApis *TransitGatewayApisV1) CreateZoneOps(createZoneOpsOptions *CreateZoneOpsOptions) (result *TSZoneOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.CreateZoneOpsWithContext(context.Background(), createZoneOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// CreateZoneOpsWithContext is an alternate form of the CreateZoneOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) CreateZoneOpsWithContext(ctx context.Context, createZoneOpsOptions *CreateZoneOpsOptions) (result *TSZoneOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(createZoneOpsOptions, "createZoneOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(createZoneOpsOptions, "createZoneOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *createZoneOpsOptions.LocationName,
	}

	builder := core.NewRequestBuilder(core.POST)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/zones`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range createZoneOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "CreateZoneOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if createZoneOpsOptions.Hidden != nil {
		body["hidden"] = createZoneOpsOptions.Hidden
	}
	if createZoneOpsOptions.Name != nil {
		body["name"] = createZoneOpsOptions.Name
	}
	if createZoneOpsOptions.TgrBgpAsn != nil {
		body["tgr_bgp_asn"] = createZoneOpsOptions.TgrBgpAsn
	}
	if createZoneOpsOptions.TargetDeviceQuantity != nil {
		body["target_device_quantity"] = createZoneOpsOptions.TargetDeviceQuantity
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "create_zone_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSZoneOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// DeleteZoneOps : Delete zone
// Delete availability zone.
func (transitGatewayApis *TransitGatewayApisV1) DeleteZoneOps(deleteZoneOpsOptions *DeleteZoneOpsOptions) (response *core.DetailedResponse, err error) {
	response, err = transitGatewayApis.DeleteZoneOpsWithContext(context.Background(), deleteZoneOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// DeleteZoneOpsWithContext is an alternate form of the DeleteZoneOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) DeleteZoneOpsWithContext(ctx context.Context, deleteZoneOpsOptions *DeleteZoneOpsOptions) (response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(deleteZoneOpsOptions, "deleteZoneOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(deleteZoneOpsOptions, "deleteZoneOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *deleteZoneOpsOptions.LocationName,
		"zone_name": *deleteZoneOpsOptions.ZoneName,
	}

	builder := core.NewRequestBuilder(core.DELETE)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/zones/{zone_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range deleteZoneOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "DeleteZoneOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	response, err = transitGatewayApis.Service.Request(request, nil)
	if err != nil {
		core.EnrichHTTPProblem(err, "delete_zone_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}

	return
}

// UpdateZoneOps : Update zone
// Update availability zone.
func (transitGatewayApis *TransitGatewayApisV1) UpdateZoneOps(updateZoneOpsOptions *UpdateZoneOpsOptions) (result *TSZoneOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.UpdateZoneOpsWithContext(context.Background(), updateZoneOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// UpdateZoneOpsWithContext is an alternate form of the UpdateZoneOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) UpdateZoneOpsWithContext(ctx context.Context, updateZoneOpsOptions *UpdateZoneOpsOptions) (result *TSZoneOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(updateZoneOpsOptions, "updateZoneOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(updateZoneOpsOptions, "updateZoneOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"location_name": *updateZoneOpsOptions.LocationName,
		"zone_name": *updateZoneOpsOptions.ZoneName,
	}

	builder := core.NewRequestBuilder(core.PATCH)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/locations/{location_name}/zones/{zone_name}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range updateZoneOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "UpdateZoneOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if updateZoneOpsOptions.Hidden != nil {
		body["hidden"] = updateZoneOpsOptions.Hidden
	}
	if updateZoneOpsOptions.TargetDeviceQuantity != nil {
		body["target_device_quantity"] = updateZoneOpsOptions.TargetDeviceQuantity
	}
	if updateZoneOpsOptions.TgrBgpAsn != nil {
		body["tgr_bgp_asn"] = updateZoneOpsOptions.TgrBgpAsn
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "update_zone_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSZoneOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// GetTransitGatewayUserQuotasOps : Show the resource quotas of a specific customer account
// Get the quotas for a specific customer account.
func (transitGatewayApis *TransitGatewayApisV1) GetTransitGatewayUserQuotasOps(getTransitGatewayUserQuotasOpsOptions *GetTransitGatewayUserQuotasOpsOptions) (result *TSQuotasOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.GetTransitGatewayUserQuotasOpsWithContext(context.Background(), getTransitGatewayUserQuotasOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// GetTransitGatewayUserQuotasOpsWithContext is an alternate form of the GetTransitGatewayUserQuotasOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) GetTransitGatewayUserQuotasOpsWithContext(ctx context.Context, getTransitGatewayUserQuotasOpsOptions *GetTransitGatewayUserQuotasOpsOptions) (result *TSQuotasOps, response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(getTransitGatewayUserQuotasOpsOptions, "getTransitGatewayUserQuotasOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(getTransitGatewayUserQuotasOpsOptions, "getTransitGatewayUserQuotasOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"customer_account_id": *getTransitGatewayUserQuotasOpsOptions.CustomerAccountID,
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/quotas/{customer_account_id}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range getTransitGatewayUserQuotasOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "GetTransitGatewayUserQuotasOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "get_transit_gateway_user_quotas_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalTSQuotasOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// UpdateTransitGatewayUserQuotasOps : Replace specific quotas of a specific customer account
// Override the quotas for a specific customer account.
func (transitGatewayApis *TransitGatewayApisV1) UpdateTransitGatewayUserQuotasOps(updateTransitGatewayUserQuotasOpsOptions *UpdateTransitGatewayUserQuotasOpsOptions) (response *core.DetailedResponse, err error) {
	response, err = transitGatewayApis.UpdateTransitGatewayUserQuotasOpsWithContext(context.Background(), updateTransitGatewayUserQuotasOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// UpdateTransitGatewayUserQuotasOpsWithContext is an alternate form of the UpdateTransitGatewayUserQuotasOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) UpdateTransitGatewayUserQuotasOpsWithContext(ctx context.Context, updateTransitGatewayUserQuotasOpsOptions *UpdateTransitGatewayUserQuotasOpsOptions) (response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(updateTransitGatewayUserQuotasOpsOptions, "updateTransitGatewayUserQuotasOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(updateTransitGatewayUserQuotasOpsOptions, "updateTransitGatewayUserQuotasOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"customer_account_id": *updateTransitGatewayUserQuotasOpsOptions.CustomerAccountID,
	}

	builder := core.NewRequestBuilder(core.PATCH)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/quotas/{customer_account_id}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range updateTransitGatewayUserQuotasOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "UpdateTransitGatewayUserQuotasOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Content-Type", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	body := make(map[string]interface{})
	if updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerClassicConnection != nil {
		body["address_prefixes_per_classic_connection"] = updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerClassicConnection
	}
	if updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerDirectlinkConnection != nil {
		body["address_prefixes_per_directlink_connection"] = updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerDirectlinkConnection
	}
	if updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerGreConnection != nil {
		body["address_prefixes_per_gre_connection"] = updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerGreConnection
	}
	if updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerPowerVirtualServerConnection != nil {
		body["address_prefixes_per_power_virtual_server_connection"] = updateTransitGatewayUserQuotasOpsOptions.AddressPrefixesPerPowerVirtualServerConnection
	}
	if updateTransitGatewayUserQuotasOpsOptions.ClassicConnectionsPerGateway != nil {
		body["classic_connections_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.ClassicConnectionsPerGateway
	}
	if updateTransitGatewayUserQuotasOpsOptions.ConnectionsPerNetwork != nil {
		body["connections_per_network"] = updateTransitGatewayUserQuotasOpsOptions.ConnectionsPerNetwork
	}
	if updateTransitGatewayUserQuotasOpsOptions.ConnectionsWithFiltersPerGateway != nil {
		body["connections_with_filters_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.ConnectionsWithFiltersPerGateway
	}
	if updateTransitGatewayUserQuotasOpsOptions.DirectlinkConnectionsPerGateway != nil {
		body["directlink_connections_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.DirectlinkConnectionsPerGateway
	}
	if updateTransitGatewayUserQuotasOpsOptions.GatewaysPerAccount != nil {
		body["gateways_per_account"] = updateTransitGatewayUserQuotasOpsOptions.GatewaysPerAccount
	}
	if updateTransitGatewayUserQuotasOpsOptions.GatewaysPerLocation != nil {
		body["gateways_per_location"] = updateTransitGatewayUserQuotasOpsOptions.GatewaysPerLocation
	}
	if updateTransitGatewayUserQuotasOpsOptions.GreConnectionsPerGateway != nil {
		body["gre_connections_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.GreConnectionsPerGateway
	}
	if updateTransitGatewayUserQuotasOpsOptions.PowerVirtualServerConnectionsPerGateway != nil {
		body["power_virtual_server_connections_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.PowerVirtualServerConnectionsPerGateway
	}
	if updateTransitGatewayUserQuotasOpsOptions.PrefixFiltersPerConnection != nil {
		body["prefix_filters_per_connection"] = updateTransitGatewayUserQuotasOpsOptions.PrefixFiltersPerConnection
	}
	if updateTransitGatewayUserQuotasOpsOptions.UniqueUnboundGreBaseNetworks != nil {
		body["unique_unbound_gre_base_networks"] = updateTransitGatewayUserQuotasOpsOptions.UniqueUnboundGreBaseNetworks
	}
	if updateTransitGatewayUserQuotasOpsOptions.VpcConnectionsPerGateway != nil {
		body["vpc_connections_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.VpcConnectionsPerGateway
	}
	if updateTransitGatewayUserQuotasOpsOptions.VpnGatewayConnectionsPerGateway != nil {
		body["vpn_gateway_connections_per_gateway"] = updateTransitGatewayUserQuotasOpsOptions.VpnGatewayConnectionsPerGateway
	}
	_, err = builder.SetBodyContentJSON(body)
	if err != nil {
		err = core.SDKErrorf(err, "", "set-json-body-error", common.GetComponentInfo())
		return
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	response, err = transitGatewayApis.Service.Request(request, nil)
	if err != nil {
		core.EnrichHTTPProblem(err, "update_transit_gateway_user_quotas_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}

	return
}

// ListAsnsOps : List ASNs
// Retrieve all Autonomous System Numbers (ASNs) from the transit DB.  Results are ordered by DB creation time with
// newer entries first.
func (transitGatewayApis *TransitGatewayApisV1) ListAsnsOps(listAsnsOpsOptions *ListAsnsOpsOptions) (result *AsnCollectionOps, response *core.DetailedResponse, err error) {
	result, response, err = transitGatewayApis.ListAsnsOpsWithContext(context.Background(), listAsnsOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// ListAsnsOpsWithContext is an alternate form of the ListAsnsOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) ListAsnsOpsWithContext(ctx context.Context, listAsnsOpsOptions *ListAsnsOpsOptions) (result *AsnCollectionOps, response *core.DetailedResponse, err error) {
	err = core.ValidateStruct(listAsnsOpsOptions, "listAsnsOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	builder := core.NewRequestBuilder(core.GET)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/asns`, nil)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range listAsnsOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "ListAsnsOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}
	builder.AddHeader("Accept", "application/json")

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))
	if listAsnsOpsOptions.Start != nil {
		builder.AddQuery("start", fmt.Sprint(*listAsnsOpsOptions.Start))
	}
	if listAsnsOpsOptions.Limit != nil {
		builder.AddQuery("limit", fmt.Sprint(*listAsnsOpsOptions.Limit))
	}
	if listAsnsOpsOptions.IsAssociated != nil {
		builder.AddQuery("is_associated", fmt.Sprint(*listAsnsOpsOptions.IsAssociated))
	}

	request, err := builder.Build()
	if err != nil {
		err = core.SDKErrorf(err, "", "build-error", common.GetComponentInfo())
		return
	}

	var rawResponse map[string]json.RawMessage
	response, err = transitGatewayApis.Service.Request(request, &rawResponse)
	if err != nil {
		core.EnrichHTTPProblem(err, "list_asns_ops", getServiceComponentInfo())
		err = core.SDKErrorf(err, "", "http-request-err", common.GetComponentInfo())
		return
	}
	if rawResponse != nil {
		err = core.UnmarshalModel(rawResponse, "", &result, UnmarshalAsnCollectionOps)
		if err != nil {
			err = core.SDKErrorf(err, "", "unmarshal-resp-error", common.GetComponentInfo())
			return
		}
		response.Result = result
	}

	return
}

// DeleteAsnOps : Delete ASN DB entry
// Remove an ASN entry from the DB.  DELETE will fail if the ASN is associated with any resources (e.g. availability
// zones, connections).
func (transitGatewayApis *TransitGatewayApisV1) DeleteAsnOps(deleteAsnOpsOptions *DeleteAsnOpsOptions) (response *core.DetailedResponse, err error) {
	response, err = transitGatewayApis.DeleteAsnOpsWithContext(context.Background(), deleteAsnOpsOptions)
	err = core.RepurposeSDKProblem(err, "")
	return
}

// DeleteAsnOpsWithContext is an alternate form of the DeleteAsnOps method which supports a Context parameter
func (transitGatewayApis *TransitGatewayApisV1) DeleteAsnOpsWithContext(ctx context.Context, deleteAsnOpsOptions *DeleteAsnOpsOptions) (response *core.DetailedResponse, err error) {
	err = core.ValidateNotNil(deleteAsnOpsOptions, "deleteAsnOpsOptions cannot be nil")
	if err != nil {
		err = core.SDKErrorf(err, "", "unexpected-nil-param", common.GetComponentInfo())
		return
	}
	err = core.ValidateStruct(deleteAsnOpsOptions, "deleteAsnOpsOptions")
	if err != nil {
		err = core.SDKErrorf(err, "", "struct-validation-error", common.GetComponentInfo())
		return
	}

	pathParamsMap := map[string]string{
		"id": *deleteAsnOpsOptions.ID,
	}

	builder := core.NewRequestBuilder(core.DELETE)
	builder = builder.WithContext(ctx)
	builder.EnableGzipCompression = transitGatewayApis.GetEnableGzipCompression()
	_, err = builder.ResolveRequestURL(transitGatewayApis.Service.Options.URL, `/ops/asns/{id}`, pathParamsMap)
	if err != nil {
		err = core.SDKErrorf(err, "", "url-resolve-error", common.GetComponentInfo())
		return
	}

	for headerName, headerValue := range deleteAsnOpsOptions.Headers {
		builder.AddHeader(headerName, headerValue)
	}

	sdkHeaders := common.GetSdkHeaders("transit_gateway_apis", "V1", "DeleteAsnOps")
	for headerName, headerValue := range sdkHeaders {
		builder.AddHeader(headerName, headerValue)
	}

	builder.AddQuery("version", fmt.Sprint(*transitGatewayApis.Version))

	request, err := builder.Build()
	if err != nil {
[...]
